language: python
python:
  - "2.7"
  - "3.6"
matrix:
  allow_failures:
    - python: "3.6"
install: pip install flake8
before_script: flake8 ./bin/q --count --select=E901,E999,F821,F822,F823 --show-source --statistics
script: test/test-all
