
div.md-content pre {
  background-color: black;
  color: #41FF00;
}

.md-typeset code pre {
  background-color: black;
  color: #41FF00;
}

.md-typeset p code {
  color: rgba(0,0,0,.87);
}

.md-typeset code.bash {
  color: #41FF00;
}

.md-typeset__scrollwrap {
  text-align: center;
}

.md-typeset .headerlink {
  opacity: 50%;
}

article.md-content__inner.md-typeset>p {
  text-align: center;
}

.md-nav__link[data-md-state=blur] {
    color: rgba(0.3,0.5,0.4,.4)
}

.md-nav__link[data-md-state=current] {
    font-weight: 700;
}
